@import "../../../../styles/variables.scss";

.switch {
  width: 56px;
  height: 32px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: $grey-400;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}

.on {
  background-color: $accent-400;
  transition: all 0.4s ease;

  .thumb {
     transform: translateX(24px);
  }
}
.off {
  background-color: $grey-400;
  transition: all 0.4s ease;

  .thumb {
     transform: translateX(0);
  }
}

.thumb {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.24);
  transition: all 0.4s ease;
}


.bigSwitch {
  min-width: 70px;
  height: 40px;

  .thumb {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.24);
    transition: all 0.4s ease;
  }

  &.on {
    background-color: $accent-400;
    transition: all 0.4s ease;

    .thumb {
      transform: translateX(30px);
    }
  }
  &.off {

    background-color: $grey-400;
    transition: all 0.4s ease;

    .thumb {
        transform: translateX(0);
    }
  }
}
